@CHARSET "UTF-8";

@font-face {
	font-family: alienEncounters;
	src: url("Alien-Encounters-Regular.ttf");
}

html {
	background: ##4097dc;
	background-image: url("/Furni_Shop_3/resources/images/fondo.png");
	background-repeat: repeat;
}

body {
	background-color: rgba(215, 223, 88, 0.3);
	border-radius: 6px;
}

.header {
	text-align: center;
}

.titulo {
	float: left;
	width: 100%;
	font-family: alienEncounters;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	margin-bottom: 15px;
}

.navegador {
	text-align: center;
	clear: both;
	float: left;
	padding-left: 10px;
	width: 15%;
}

.menu {
	margin-top: 5px;
	background-color: #5FB3F7;
	border-radius: 6px;
	padding-bottom: 1px;
}

.menu a {
	color: black;
	text-decoration: none;
}

.menu ul {
	text-align: left;
	list-style: none;
	font-variant: small-caps;
	font-weight: bold;
}

.menu li {
	padding-bottom: 5px;
}

.menu h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 5px;
}

.contenido {
	float: right;
	text-align: center;
	width: 82%;
	border-radius: 6px;
	margin-right: 8px;
}

.contenido h1 {
	font-family: sans-serif;
	color: white;
	text-decoration: underline;
}

.contenido h2 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
}

.contenido h3 {
	text-align: left;
	color: white;
	text-decoration: underline;
}

.contenido p {
	font-family: sans-serif;
	color: white;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}

.contenido table {
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 5px;
}

.contenido th {
	font-size: large;
	border-bottom: 5px;
	border-bottom-color: white;
	border-bottom-style: groove;
	font-style: italic;
	color: white;
}

.contenido td {
	color: white;
	vertical-align: top;
	padding-top: 3px;
}

.contenido li {
	list-style-type: square;
	text-align: left;
	padding-top: 5px;
	color: white;
}

.contenido li a {
	font-variant: small-caps;
	color: white;
	text-decoration: none;
}

.footer {
	clear: both;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.error {
	margin: 0 auto 0 auto;
	color: red;
	text-align: center;
	font-variant: small-caps;
	font-size: large;
	font-weight: bolder;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	background-color: yellow;
	width: 40%;
	border-radius: 6px;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	padding: 5px;
}

.works {
	margin: 0 auto 0 auto;
	color: green;
	text-align: center;
	font-variant: small-caps;
	font-size: large;
	font-weight: bolder;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	background-color: aqua;
	width: 40%;
	border-radius: 6px;
	border-style: solid;
	border-color: green;
	border-width: 5px;
	padding: 5px;
}

.nota {
	text-align: left;
	text-decoration: underline;
	color: white;
}

.problema {
	color: red;
	font-size: small;
	padding-top: 1px;
	padding-bottom: 5px;
}

.opciones a {
	color: blue;
	font-weight: bold;
	background-color: #5FB3F7;
	margin-right: 10px;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
}

.total {
	font-size: large;
	font-weight: bold;
}