@CHARSET "UTF-8";

@font-face {
	font-family: alienEncounters;
	src: url("Alien-Encounters-Regular.ttf");
}

html {
	background: ##343012;
	background-image: url("/Furni_Shop_3/resources/images/zenbg-1.png"), url("/Furni_Shop_3/resources/images/zenbg-2.png");
	background-repeat: repeat;
}

body {
	background-color: rgba(215, 223, 88, 0.3);
	border-radius: 6px;
}

.header {
	text-align: center;
}

.titulo {
	float: left;
	width: 82%;
	font-family: alienEncounters;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	margin-bottom: 15px;
}

.cesta {
	vertical-align: middle;
	float: right;
	width: 17%;
	margin-bottom: 15px;
	color: red;
}

.cesta a {
	color: white;
	font-size: large;
	font-family: fantasy;
	text-decoration: none;
	letter-spacing: 1px;
}

.navegador {
	text-align: center;
	clear: both;
	float: left;
	padding-left: 10px;
	width: 15%;
}

.buscador {
	background-color: #FFA235;
	padding: 5px;
	border-radius: 6px;
	padding-bottom: 8px;
}

.buscador h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
}

.buscador h4 {
	text-decoration: underline;
}

.categorias {
	margin-top: 5px;
	background-color: #ffad4d;
	border-radius: 6px;
	padding-bottom: 1px;
}

.categorias a {
	color: black;
	text-decoration: none;
}

.categorias ul {
	text-align: left;
	list-style: none;
	font-variant: small-caps;
}

.categorias h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 5px;
}

.login {
	border-radius: 6px;
	background-color: #ffad4d;
	padding-bottom: 8px;
}

.login input {
	margin-top: 4px;
}

.login h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
}

.contenido {
	float: right;
	text-align: center;
	width: 82%;
	border-radius: 6px;
	margin-right: 8px;
}

.contenido h1 {
	font-family: sans-serif;
	color: white;
	text-decoration: underline;
}

.contenido h2 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	font-style: italic;
}

.contenido p {
	font-family: sans-serif;
	color: white;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}

.contenido table {
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 5px;
}

.contenido th {
	font-size: large;
	border-bottom: 5px;
	border-bottom-color: white;
	border-bottom-style: groove;
	font-style: italic;
	color: white;
}

.contenido td {
	color: white;
	vertical-align: middle;
	padding-top: 3px;
}

.contenido img {
	width: 250px;
	height: 250px;
}

.registro {
	float: right;
	text-align: center;
	width: 82%;
	border-radius: 6px;
	margin-right: 8px;
}

.registro h1 {
	font-family: sans-serif;
	color: white;
	text-decoration: underline;
}

.registro table {
	margin:0 auto 0 auto;
}

.registro td {
	text-align: left;
}

.enlace {
	color: white;
	font-weight: bold;
	background-color: orange;
	margin-right: 10px;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: maroon;
	text-decoration: none;
	padding: 2px;
}

.direccion {
	margin:0 auto 0 auto;
	width: 30%;
	text-align: left;
	background-color: purple;
	border-radius: 6px;
	border-style: groove;
	border-color: white;
	border-width: 2px;
	font-family: monospace;
	color: white;
	font-weight: bold;
}

.footer {
	clear: both;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.error {
	margin:0 auto 0 auto;
	color: red;
	text-align: center;
	font-variant: small-caps;
	font-size: large;
	font-weight: bolder;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	background-color: yellow;
	width: 60%;
	border-radius: 6px;
	border-style: solid;
	border-color: red;
	border-width: 5px;
	padding: 5px;
}

.problema {
	color: red;
	font-size: small;
	padding-top: 1px;
	padding-bottom: 5px;
}

.total {
	font-size: large;
	font-weight: bold; 
}